.dropdown-item{
  transition: all ease 0.25s;
}
.dropdown-toggle::after {
  display: none;  
}
@media (max-width: 996px) {
  .mobileMenu {   
   position: fixed;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    float:right;
    background:white;
    transform: translateX(-100%);
    transition: all ease 0.25s;
    box-shadow: 0 3px 12px rgba(0,0,0,.12) !important;
  }
  .navbar-nav{
      overflow-y: auto;
  }
  .mobileMenu.onRight {
    left:auto;
    right: 0;
    transform: translateY(-100px);
    transform: translateX(400px);
   

  }
  .mobileMenu.open {
    transform: translateX(0);
     
  }
 
  .overlay {
    position: fixed;
    top: 0%;
    bottom: 0;
    left: 0%;
    right: 0;
    margin: auto;
    background-color: rgba(255,255,255,.7);
    display: none;
  }
  .overlay.open {
    display: block;
  }
  .dropdown.open .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px dashed;
    border-top: 0px solid transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown-menu{
  background-color: white !important;
 
}
}
.navbar{
  background: white;
  margin-bottom: 0px !important;

}

.navbar-brand{
  color:red;
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
}

#iso{
  transition: top 0.3s;
  color: rgb(77, 73, 73);
  position: fixed;
  font-size: 12.75px;    
  font-family: Georgia, 'Times New Roman', Times, serif;
}
li{
 
  font-size:17px;
  font-weight: 500;
  color:black;
  font-family: Georgia, 'Times New Roman', Times, serif; 
}
.dropdown-menu a:hover {color: red !important;   }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {display: block;   opacity: 1;

 }


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover{color:red  }

.nav-item:hover{
  color:red  !important;
}

nav .navbar-nav li a{
  
  color: inherit !important;
  display: block;
  margin: 0;
  text-decoration: none;
  transition: all .2s ease-in-out !important;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  }

  @media (min-width: 992px)
  {
    .navbar{
      background:rgba(255,255,255, 0.8)
    }
    .minus{
      display: none;
      }
      .dropdown-menu{
        background-color: white !important;
        box-shadow: 0 3px 12px rgba(0,0,0,.12) !important;
       
      }
  }

  .minus{
    float: right !important;  
  }
 
